@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
font-family: "ProximaNova";
src: local("fonts"),
 url("./fonts/ProximaNova-Regular.otf") format("truetype");
font-weight: normal;
}

body {
  font-family: "ProximaNova";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #302E2E;
  background-color: #F1EEE7;
}


/*
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
