@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
font-family: "ProximaNova";
src: local("fonts"),
 url("./fonts/ProximaNova-Regular.otf") format("truetype");
font-weight: normal;
}

body {
  font-family: "ProximaNova";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #302E2E;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.case-study-repeater div div .case-study-image:not(:first-child) {
  height: 60px;
}
/*
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
